/* CSS Document */
body, html{
	padding: 0;
	margin: 0;	
	width: 100%;
		
}

h1,h2,h3{
	font-family: 'Anton', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	
	
}
h2{
	font-family: 'Anton', sans-serif;
	margin: 0;
	padding: 0;
	color: #EF7B45;
	font-size: 5em;
	text-align: center;
	margin-top: 100px;
	
	
}
h1 .font-color{
	color: #EF7B45;
	
}


p, a{
	color: #4D4D4D;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	
}
i{
	position: relative;
	padding: 10px;
	font-size: 30px;
	margin: 0;
	color: white;

	
}
.header{
	height: 100vh;
	width: 100%;
	background-image: url("Bilder/verkleinert/Lukas Lehmann Fotograf Furtwangen-portrait.png"), url("Bilder/verkleinert/Lukas Lehmann Fotograf Furtwangen.jpg");
	background-size: cover ,cover;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
	background-position: 300px 0% ,0%;
}

.header-portrait{
	height: 100vh;
	top: 0;
	right: 0;
	position: absolute;
}

.header h1{
	font-size: 7em;
	
}
.text-div p{
	text-align: center;
	top: -40px;
	position: relative;
	color:white;
}

.text-div{
	position: absolute;
	left: 10%;
	top: 25%;
	z-index: 10;
}

.zusatz-grid{
	position: absolute;
	bottom: 10px;;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	width: 100%;
	
}
.zusatz-grid p{
	color: white;
}

.zusatz-grid-item{
	display: flex;
	flex-direction: row;
	  align-items: center;
  justify-content: center;
	
}

.social-container{
	display: flex;
	flex-direction: row;
}
.social-container img{
	height: 40px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}


.header-cta{
	display: flex;
	flex-direction: column;
	  align-items: center;
  justify-content: center;
	
}

.header-cta p{
	margin: 0;
}
.header-cta i{
	padding: 0;
}


.galerie-grid{
position: relative;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: max-content;
	width: 100%;
	
}

.ueber-grid{
position: relative;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: max-content;
	width: 100%;
	
}
.galerie-grid-item img{
		display: grid;
	  object-fit: contain;
  max-width: 100%;
  max-height: 100%;

	
}

.galerie-grid-item{
	padding: 40px;	
	justify-self: center;
	
	place-self: center;
}

.onespan{
	grid-column-end: span 1;
	grid-row-end: span 1;
	
}
.twospan{
	grid-column-end: span 2;
	grid-row-end: span 1;
	
}
video{
	 object-fit: contain;
  max-width: 90%;
  max-height: 90%;
	justify-self: center;
	place-self: center;
	grid-column-end: span 2;
	grid-row-end: span 1;
	
	
}

.kunden{
	position: relative;
	width: 100%;
}

.kunden-grid{
	position: relative;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: max-content;
	width: 100%;
	margin-bottom: 100px;
	
}

.kunden-grid img{
		display: grid;
	  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
		justify-self: center;
	place-self: center;
	width: 50%;
}

.testimonial-grid{
	
	position: relative;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: max-content;
	
padding-left: 20%;
	padding-right: 20%;
	margin-top: 50px;
	overflow: hidden;
	
}

.testi-bild img{
	border-radius: 50%;
	
}

.testi-bild{
	justify-self: center;
	
	place-self: center;
}

.testi-bild p{
	text-align: center;
}

.testi-text{
	padding-left: 80px;
	justify-self: center;
	place-self: center;
	padding-bottom: 50px;
	
}
.testi-text i{
	color:#4D4D4D;
	font-size: 4em;
	opacity: 0.3;
}

.testi-text p{
	z-index: 1;
	
	
}
.fa-quote-right{
	position: absolute;
	z-index: -1;
	transform: translate(-40px, -30px);
}

.fa-quote-left{
	position: relative;
	z-index: -1;
	right: 0;
	transform: translate(400px, -70px);
}

.kontakt-grid{
	
	position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: max-content;
	width: 100%;
	margin-bottom: 100px;
}


.kontakt-grid img{
		display: grid;
	  object-fit: contain;
  max-width: 60%;
  max-height: 100%;
float: right;
	position: relative;

	
}

.kontakt-left, .kontakt-right{
	padding: 40px;	
	justify-self: center;
	
	place-self: center;
}

.kontakt-grid h3{
	color: #4D4D4D;
	font-size: 3em
}

.kontakt-right{
	padding-right: 20%
}


.button {
	text-align: center;
	margin-top: 50px;
}
.button a{
	
	background-color: #EF7B45;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
}

@media (max-width: 1500px) {
.ueber-grid{
position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: max-content;
	width: 100%;
	
}
	
	.ueber-sec{
		display: none;
	}
}

@media (max-width: 1300px) {
.text-div{
		top: 45%;
	}
}
@media (max-width: 1024px){
	
	.header{
	
 background-position: center, 0%;
	 

}
}

@media (max-width: 986px) {

.header h1{
	font-size: 6em;
	
}
	
	
.galerie-grid{
	grid-template-columns: 50% 50%;
}
	.galerie-grid-item{
	padding: 10px;	

}
	.kunden-grid img{
	
	width: 80%;
}
	

		.testimonial-grid{
	

	grid-template-columns: 100%;
padding: 0;
	
}
	.testi-text{
		padding: 0;
		padding-left: 5%;
		padding-right: 5%;
	}
	.zusatz-grid-item img{
	height: 40px;
	
}
	

.kunden-grid{
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.kontakt-grid{
	grid-template-columns: 30% 70%;
}

.kontakt-right{
	padding-right: 5%;
}

.kontakt-left{
	padding: 0;
	float: none;
}
}


@media (max-width: 697px) {
	body{
		width: 100%;
		overflow-x: hidden;
	}
	.zusatz-grid{
	
	grid-template-columns: 100%!important;
	
	
}
	h2{
		font-size: 3.4em;
	}
	
	.text-div p{
		font-size: 1.2em;
		
	}
	.header i{
		display: none;
	}
.zusatz-grid p{
	
	font-size: 1em;
}
	.header-social{
		position: relative;
		float: right
		
		
	}
.social-container{
	display: flex;
	flex-direction: row;
	
}
.social-container img{
	height: 30px;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.header-portrait {
	height: 100vh;
	top: 0;
	right: -180px;
	position: absolute;
	overflow: hidden;
	
}
	.header-social{
		max-width: 100%;
		
	}

.header-cta{
	display: none;
}




.header h1{
	font-size: 4em;
	line-height: 1.2
}
	.header p{
		text-align: left;
		margin-top: 40px;
		
		
	}

	.text-div{
		top: 45%;
	}
	
	.testi-bild img{
width: 50%;
		left: 50%;
		position: relative;
		transform: translate(-50%);
	
}

.ueber-grid{

	grid-template-columns: 100%;
	
	
}
	
	.galerie-grid{
	grid-template-columns: 100%;
}
	.galerie-grid-item{
	padding: 10px;	

}
	
	.sec-row{
		display: none;
	}
	.kunden-grid img{
	
	width: 80%;
}
	
	.brennlust-logo{
		margin-top: 100px;
	}
	.konstanz-logo{
		margin-top: 50px;
	}
	
	

	.about p{
		padding-left: 5%;
		padding-right: 5%;
	}

.kunden-grid{
	grid-template-columns:100%;
}

.kontakt-grid{
	grid-template-columns: 100%;
}

	.kontakt-grid img{
		display: none;
	}
	.kontakt-right{
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 0;
		margin-top: -50px;
	}
.kontakt-grid h3{
	text-align: center;
	margin-top: 50px;
	line-height: 1;
	}

}




@media (max-width: 500px) {
	.button a{
		font-size: 1em;
		width: 90%;
		position: relative;
	}
}








